body {
    background-image: linear-gradient(to right, gray, lightgray, darkgray);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 6fr;
    gap: 20px;
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container > div {
    border-radius: 15px;
    padding: 20px;
}

.sidebar {
    grid-row: span 3;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    border: 1px red solid;
    background-color: whitesmoke;
}

.top-sidebar {
    box-shadow: -5px -5px 10px red;
}

.middle-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: x-large;
    border-bottom: 1px red solid;
}

.bottom-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: x-large;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px blue solid;
    background-color: whitesmoke;
}

.left-header {
    display: flex;
}

.left-header > input {
    flex: 1;
    margin: 20px;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px green solid;
    background-color: whitesmoke;
}

.right-nav {
    display: flex;
    justify-content: space-evenly;
}

.right-nav > button {
    flex: 1;
    margin: 20px;
    border-radius: 10px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

#main-content {
    padding: 0px;
}

.main-content > div {
    border-radius: 15px;
    padding: 20px;
    margin: 0px;
    background-color: whitesmoke;
}

.left-main-content {
    border: 1px purple solid;
}

.left-main-content-articles {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 30px;
}

.right-main-content {
    border: 1px brown solid;
}